@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    /* border: 1px solid red; */
}

.headingContainer {
    /* border: 1px solid red; */
    position: fixed;
    text-align: center;
    height: 7.5%;
    width: 30%;
    margin-top: 2.5rem;
    /* margin-bottom: 1rem; */
    z-index: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headingText {
    font-family: 'Roboto';
    letter-spacing: 1px;
    /* border: 1px solid red; */
}

.notes{
    position: relative;
    top:16%;
    left:0%;
    width: 99%;
    height:83.5%;
    overflow-y: scroll;
}

.groupText{
    padding-right: 2rem;
    text-align:justify;
}