.container{
    /* border: 1px solid blue; */
    position: relative;
    /* height:85vh;*/
}

.groupContainer{
    display: flex;
    cursor: pointer;
    /* margin-left: 1rem; */
    width: 99.5%; 
    margin-bottom: 1rem;
  }
  
  .groupContainer:hover{
    background-color: rgba(47,47,47,0.17);
    border-radius: 0.75rem;
  }
  
  .selectedGroupContainer{
    display: flex;
    cursor: pointer;
    /* margin-left: 1rem; */
    background-color: rgba(47,47,47,0.17);
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    width: 99.5%; 
  }
  
  .baseProfileIcon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #FFC0C0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: "bold";
    margin: 0.5rem 0.75rem 0.5rem 2rem;
  }
  
  .groupName{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
  }

  .addNoteBox{
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 37.5%;
    /* border: 0.5px solid slategray; */
    border: 1px solid red;
    border-radius: 0.25rem;
    color: black;
    background-color: white;
    z-index: 1;
}

.addNoteHeading{
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.75px;
    font-size: 1.5rem;
    width: 40%;
    margin-left: 5%;
    margin-top: 6%;
}

.addNoteSubHeading{
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.75px;
    font-size: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 6% 2% 6% 5%;
}

.groupNameInput{
    margin-left: 10%;
    padding: 0.4rem 1rem 0.4rem 1rem;
    width: 50%;
    border-radius: 1rem;
    border: 1px solid #CCCCCC;
}

.colorSet{
    margin-left: 3.5rem;
    display: flex;
    flex-direction: row;
}

.groupColor{
    height: 2rem;
    width: 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 100%;
    cursor: pointer;
    /* background-color: #B38BFA; */
}

.addNoteButton{
    position: relative;
    left: 80%;
    background-color: #001F8B;
    padding: 0.3rem 2rem 0.3rem 2rem;
    border-radius: 0.5rem;
    border-style: none;
    color: #FFFFFF;
}

.plusImage{
  height: 40%;
  width: 40%;
}

.addNote{
  position: fixed;
  top: 88%;
  left: 25%;
  background-color: #16008B;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selectedBorder {
  border: 0.5px solid red;
}

.noBorder { 
  border: 0.5px solid white;
}